# CMake specific
build/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
*.cmake

# Visual Studio specific
.vs/
*.sln
*.suo
*.user
*.userosscache
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Binaries/Executables
*.exe
*.dll
*.so
*.dylib
*.obj
*.o

# Logs and other junk
*.log
.cache/
